*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(SymbolsBack-01.png);
  font-family: Arial, Helvetica,serif, sans-serif;
  background-color: #67acf1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-size: cover;
 
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(216, 92%, 28%);
}

label {
font-weight: bold;
}

.card {
  background-color: hsl(34, 86%, 60%);
  border-radius: 50px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.72) 0px 2px 15px 0px;
  color: hsl(205, 15%, 16%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
 
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #dbe7f7;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 96%;
  background:#dbe7f7;
  height: 2px;
  margin: 20px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  grid-column: span 1;
  background-color: hsl(216, 87%, 34%);
  border: 2px solid white;
  color: white;
  padding: .7rem 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.btn :hover {
  background-color:hsl(207, 75%, 49%);
}




.form {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.7rem;
  column-gap: 4rem;
  justify-content: center;
  align-items: center;
}

button[disabled] {
  cursor: default;
  background: #f6f6f7;
  border-color: #1ddd04;
}

.character-slider {
display: flex;
align-items: center;

}

.digits {
  width: 3rem;

}

.float-right {
  float: right;
}

.password-display {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #ffffffc9;
  display: block;
  width: 100%;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
}



@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
